@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  font-size: 12px;
  font-family: "冬青黑体简体中文", "微软雅黑", "宋体", Arial, sans-serif; }

a {
  text-decoration: none;
  color: #666666; }

img {
  border: none 0; }

input {
  outline: none;
  border: none;
  background: none; }

li {
  list-style: none; }

button {
  border: none; }

/*登录页面开始*/
.head {
  width: 100%;
  height: 16.65re m;
  background: linear-gradient(#ee7a01, #f9a706, #f9a706, #f79905); }
  .head p {
    display: flex;
    justify-content: flex-end; }
    .head p a {
      display: block;
      color: #FFF;
      margin-top: 1.3rem;
      margin-right: 1.2rem;
      font-size: 1.35rem; }
  .head .head_logo {
    width: 100%;
    height: 14.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .head .head_logo img {
      width: 12.7rem;
      height: 8rem; }

ul {
  width: 100%;
  height: 7.4rem;
  margin-top: 5.9rem; }
  ul li {
    width: 90%;
    margin: 0 auto;
    display: flex; }
    ul li input {
      font-size: 1.2rem;
      margin-left: 0.7rem; }
  ul li:nth-child(1) {
    height: 2.9rem;
    border-bottom: 1.5px solid #CCCCCC; }
    ul li:nth-child(1) img {
      margin-top: 0.7rem;
      width: 1.1rem; }
  ul li:nth-child(2) {
    height: 4.38rem;
    border-bottom: 1.5px solid #CCCCCC; }
    ul li:nth-child(2) img {
      margin-top: 1.45rem;
      width: 1.2rem; }

.enter {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  height: 4.35rem;
  background: #ffd974;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-align: center; }
  .enter a {
    line-height: 4.35rem;
    color: #FFF; }

.footer {
  width: 100%;
  text-align: center;
  margin-top: 300px;
  padding-bottom: 1.3rem;
  font-size: 1rem; }
  .footer a {
    color: #fedb7f; }

/*登录页面结束*/
