* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 3.7rem;
  background: #FFAC2E;
  font-size: 1.6rem;
  color: white;
  display: flex;
  align-items: center; }
  header a {
    font-size: 2.6rem;
    color: white;
    margin-left: 1.2rem; }
  header p {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1.2rem; }
    header p img {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      width: 1.1rem;
      height: 1.1rem; }

.box {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 100%;
  background: white; }
  .box .content {
    width: 100%; }
    .box .content .content_benyue, .box .content .content_liuyue {
      width: 100%; }
      .box .content .content_benyue .benyue_p, .box .content .content_benyue .liuyue_p, .box .content .content_liuyue .benyue_p, .box .content .content_liuyue .liuyue_p {
        width: 100%;
        padding-left: 1rem;
        font-size: 1rem;
        display: flex;
        align-items: center;
        height: 2.5rem;
        border-bottom: 1px solid #EBEBEB;
        background: #F5F5F5;
        color: #BBBBBB; }
        .box .content .content_benyue .benyue_p > span:last-child, .box .content .content_benyue .liuyue_p > span:last-child, .box .content .content_liuyue .benyue_p > span:last-child, .box .content .content_liuyue .liuyue_p > span:last-child {
          margin-left: 0.7rem; }
      .box .content .content_benyue .liuyue_p, .box .content .content_liuyue .liuyue_p {
        height: 3rem; }
      .box .content .content_benyue .benyue_ul, .box .content .content_benyue .liuyue_ul, .box .content .content_liuyue .benyue_ul, .box .content .content_liuyue .liuyue_ul {
        width: 100%; }
        .box .content .content_benyue .benyue_ul li, .box .content .content_benyue .liuyue_ul li, .box .content .content_liuyue .benyue_ul li, .box .content .content_liuyue .liuyue_ul li {
          width: 100%;
          display: flex;
          align-items: center;
          height: 5rem;
          background: #FFFFFF;
          border-bottom: 1px solid #EDEDED; }
          .box .content .content_benyue .benyue_ul li > p:first-child, .box .content .content_benyue .liuyue_ul li > p:first-child, .box .content .content_liuyue .benyue_ul li > p:first-child, .box .content .content_liuyue .liuyue_ul li > p:first-child {
            width: 2.5rem;
            height: 2.5rem;
            background: #FFAC2E;
            font-size: 1.5rem;
            text-align: center;
            line-height: 2.5rem;
            border-radius: 0.3rem;
            color: white;
            margin-left: 0.6rem; }
          .box .content .content_benyue .benyue_ul li > div:nth-child(2), .box .content .content_benyue .liuyue_ul li > div:nth-child(2), .box .content .content_liuyue .benyue_ul li > div:nth-child(2), .box .content .content_liuyue .liuyue_ul li > div:nth-child(2) {
            flex-grow: 1;
            margin-left: 1.3rem; }
            .box .content .content_benyue .benyue_ul li > div:nth-child(2) p:first-child span:first-child, .box .content .content_benyue .liuyue_ul li > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .benyue_ul li > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .liuyue_ul li > div:nth-child(2) p:first-child span:first-child {
              display: inline-block;
              width: 6.4rem;
              height: 1.6rem;
              border: 1px solid #FFC871;
              border-radius: 0.8rem;
              text-align: center;
              line-height: 1.6rem;
              color: #FFC871;
              font-size: 1rem; }
            .box .content .content_benyue .benyue_ul li > div:nth-child(2) p:first-child span:last-child, .box .content .content_benyue .liuyue_ul li > div:nth-child(2) p:first-child span:last-child, .box .content .content_liuyue .benyue_ul li > div:nth-child(2) p:first-child span:last-child, .box .content .content_liuyue .liuyue_ul li > div:nth-child(2) p:first-child span:last-child {
              margin-left: 0.5rem;
              font-size: 1.6rem;
              color: #6E6E6E; }
            .box .content .content_benyue .benyue_ul li > div:nth-child(2) p:last-child, .box .content .content_benyue .liuyue_ul li > div:nth-child(2) p:last-child, .box .content .content_liuyue .benyue_ul li > div:nth-child(2) p:last-child, .box .content .content_liuyue .liuyue_ul li > div:nth-child(2) p:last-child {
              font-size: 0.9rem;
              color: #696969;
              margin-top: 0.1rem; }
              .box .content .content_benyue .benyue_ul li > div:nth-child(2) p:last-child span:first-child, .box .content .content_benyue .liuyue_ul li > div:nth-child(2) p:last-child span:first-child, .box .content .content_liuyue .benyue_ul li > div:nth-child(2) p:last-child span:first-child, .box .content .content_liuyue .liuyue_ul li > div:nth-child(2) p:last-child span:first-child {
                margin-left: 0.4rem; }
          .box .content .content_benyue .benyue_ul li p:last-child, .box .content .content_benyue .liuyue_ul li p:last-child, .box .content .content_liuyue .benyue_ul li p:last-child, .box .content .content_liuyue .liuyue_ul li p:last-child {
            color: #0CDA1B;
            font-size: 1.1rem;
            margin-right: 0.8rem; }
        .box .content .content_benyue .benyue_ul li:nth-child(2) > p:first-child, .box .content .content_benyue .liuyue_ul li:nth-child(2) > p:first-child, .box .content .content_liuyue .benyue_ul li:nth-child(2) > p:first-child, .box .content .content_liuyue .liuyue_ul li:nth-child(2) > p:first-child {
          background: #FA5A2C; }
        .box .content .content_benyue .benyue_ul li:nth-child(2) > div:nth-child(2) p:first-child span:first-child, .box .content .content_benyue .liuyue_ul li:nth-child(2) > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .benyue_ul li:nth-child(2) > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .liuyue_ul li:nth-child(2) > div:nth-child(2) p:first-child span:first-child {
          width: 5.75rem;
          border: 1px solid #67E2F9;
          color: #67E2F9; }
        .box .content .content_benyue .benyue_ul li:nth-child(2) p:last-child, .box .content .content_benyue .liuyue_ul li:nth-child(2) p:last-child, .box .content .content_liuyue .benyue_ul li:nth-child(2) p:last-child, .box .content .content_liuyue .liuyue_ul li:nth-child(2) p:last-child {
          color: #F85525; }
        .box .content .content_benyue .benyue_ul li:nth-child(3) > p:first-child, .box .content .content_benyue .liuyue_ul li:nth-child(3) > p:first-child, .box .content .content_liuyue .benyue_ul li:nth-child(3) > p:first-child, .box .content .content_liuyue .liuyue_ul li:nth-child(3) > p:first-child {
          background: #FA5A2C; }
        .box .content .content_benyue .benyue_ul li:nth-child(3) > div:nth-child(2) p:first-child span:first-child, .box .content .content_benyue .liuyue_ul li:nth-child(3) > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .benyue_ul li:nth-child(3) > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .liuyue_ul li:nth-child(3) > div:nth-child(2) p:first-child span:first-child {
          border: 1px solid #FEB349;
          color: #FEB349; }
        .box .content .content_benyue .benyue_ul li:nth-child(3) p:last-child, .box .content .content_benyue .liuyue_ul li:nth-child(3) p:last-child, .box .content .content_liuyue .benyue_ul li:nth-child(3) p:last-child, .box .content .content_liuyue .liuyue_ul li:nth-child(3) p:last-child {
          color: #F85525; }
        .box .content .content_benyue .benyue_ul li:nth-child(4) > p:first-child, .box .content .content_benyue .liuyue_ul li:nth-child(4) > p:first-child, .box .content .content_liuyue .benyue_ul li:nth-child(4) > p:first-child, .box .content .content_liuyue .liuyue_ul li:nth-child(4) > p:first-child {
          background: #FFAC2E; }
        .box .content .content_benyue .benyue_ul li:nth-child(4) > div:nth-child(2) p:first-child span:first-child, .box .content .content_benyue .liuyue_ul li:nth-child(4) > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .benyue_ul li:nth-child(4) > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .liuyue_ul li:nth-child(4) > div:nth-child(2) p:first-child span:first-child {
          width: 5.75rem;
          border: 1px solid #F941E5;
          color: #F941E5; }
        .box .content .content_benyue .benyue_ul li:nth-child(4) p:last-child, .box .content .content_benyue .liuyue_ul li:nth-child(4) p:last-child, .box .content .content_liuyue .benyue_ul li:nth-child(4) p:last-child, .box .content .content_liuyue .liuyue_ul li:nth-child(4) p:last-child {
          color: #14D720; }
      .box .content .content_benyue .liuyue_ul li > div:nth-child(2) p:first-child span:first-child, .box .content .content_liuyue .liuyue_ul li > div:nth-child(2) p:first-child span:first-child {
        width: 5.75rem;
        border: 1px solid #F941E5;
        color: #F941E5; }
  .box .xiala {
    display: none;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    position: absolute;
    background: rgba(32, 32, 32, 0.3);
    top: 0;
    left: 0; }
    .box .xiala > div {
      width: 100%;
      background: white;
      padding-left: 1.4rem;
      padding-right: 1.2rem;
      padding-top: 2.3rem;
      padding-bottom: 2.6rem; }
      .box .xiala > div > p {
        width: 9.1rem;
        height: 3.4rem;
        background: #FFAD2F;
        color: white;
        font-size: 1.4rem;
        text-align: center;
        line-height: 3.4rem;
        border-radius: 0.3rem;
        margin-top: 2.3rem; }
      .box .xiala > div > div:nth-child(2) {
        width: 100%;
        height: 0rem;
        margin-top: 1.7rem;
        display: flex; }
        .box .xiala > div > div:nth-child(2) div {
          width: 12.3rem;
          height: 2rem;
          display: inline-block;
          border-top: 1px solid #EAEAEA; }
        .box .xiala > div > div:nth-child(2) span {
          font-size: 1rem;
          color: #C3C3C3;
          margin-top: -0.6rem;
          margin-left: 1.2rem;
          margin-right: 1.2rem; }
      .box .xiala > div > div:nth-child(3) {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2.7rem; }
        .box .xiala > div > div:nth-child(3) span {
          display: inline-block;
          width: 9.1rem;
          height: 3.4rem;
          background: #E0E0E0;
          text-align: center;
          line-height: 3.4rem;
          border-radius: 0.3rem;
          color: #282828;
          font-size: 1.3rem; }

/*# sourceMappingURL=mm.css.map */
