*{
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5f5;
}
.header{
    height: 1.875rem;
    width: 100%;
    background: #ffac2c;
    font-size: 0.75rem;
    line-height: 1.875rem;
    color: white;
    font-family:"黑体";
    img{
        height: 0.75rem;
        margin-left: 0.625rem;
        margin-right: 5.6rem;
    }
}
.content{
    p{
        height: 1.45rem;
        line-height: 1.45rem;
        font-size: 0.5rem;
        padding-left: 0.5rem;
        color: #818181;
        border-bottom: 1px solid #eaeaea;
    }
    ul{
        font-size: 0.6rem;
        li{
            border-bottom: 1px solid #eaeaea;
            border-top: 1px solid #fcfcfc;
            a{
                text-decoration: none;
                color: #363636;
                
                div{
                    height: 1.825rem;
                    background: #ffffff;
                    line-height: 1.825rem;
                    span{
                        margin-left: 0.7rem;
                        margin-right: 8.55rem;
                    }
                    img{
                        height: 0.6rem;
                    }
                }
            }
        }
    }
    
}

